:host {
  --sds-c-card-color-background: rgba(239, 183, 134, 0.7);
}

.coloredText {
  color: white;
}

.bg {
  height: 100%;
  background-image: url('https://cdn.pixabay.com/photo/2019/02/24/13/48/sunset-4017599_960_720.jpg');
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* opacity: 0.6 */
}
